@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
body{
  bg;
} */


.feautures {
  background: linear-gradient(to right, #f5f7fa  , #e8eef0 );
}


  .fotter{
    background: radial-gradient(circle, rgba(255,255,255,0.47942927170868344) 18%, rgba(128, 203, 196, 0.365) 100%)

  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 0.3s ease-in;
  }
  /* @keyframes ring-animation {
    0% {
      box-shadow: 0 0 0 0 	rgb(10, 10, 10);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(202, 138, 4, 0);
    }
  }
  .ring-animation {
    animation: ring-animation 2s infinite; */
  /* }*/
  .text-gradient { 
    background: linear-gradient(to right, #ffc107, #f77825, #ffc900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .swiper {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* text-align: center;
    font-size: 18px;
    background: #fff; */
    text-align: center;
    padding: 30px 10px !important;
    margin: 0 auto;
    /* Center slide text vertically */
    /* display: flex;
        justify-content: center;
        align-items: center; */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper {
    transition-timing-function: linear;
}
.mathjax-container {
  overflow-x: auto; /* Scrollbar will appear if content overflows */
  overflow-y: hidden; /* Prevent vertical scrollbar */
  max-width: 100%; /* Prevents overflow */
  display: inline-block; /* Adjust as needed */
  line-height: 2; /* Adjust line-height for better readability */
  font-size: 1rem; /* Adjust base font size if necessary */
}